header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.header-bg {
  background: rgb(50, 50, 50);
}

.site-title {
  font-weight: 800;
  font-size: 48px;
  font-style: italic;
  color: whitesmoke;
}

.site-title__highlight {
  color: #e8be1e;
}

.site-title-link,
.site-title-link:active,
.site-title-link:visited {
  color: tomato;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  .site-title {
    display: inline;
    font-size: 32px;
  }
}
