header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.header-bg {
  background: rgb(50, 50, 50);
}

.logo {
  width: 60px;
  margin-right: 0.25rem;
}

.site-title {
  font-weight: 800;
  font-size: 48px;
  font-style: italic;
  color: whitesmoke;
}

.site-title__highlight {
  color: #e8be1e;
}

.site-title-link,
.site-title-link:active,
.site-title-link:visited {
  color: tomato;
}
