body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
}

th {
  border-bottom: solid 1px silver;
}

td, th {
  padding: 0.25em 0.5em;
  text-align: center;
}

tr:nth-child(even) {
  background: whitesmoke
}

tr.selected {
  background: yellow
}

.error {
  display: flex;
  background: tomato;
  border: solid 1px crimson;
  color: white;
  padding: 1em;
}

.error__text {
  flex: 1;
}

.error__dismiss {
  cursor: pointer;
}
