/*
 * Basic CSS Reset
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: whitesmoke;
}

a, a:active, a:visited {
  color: #2bafba;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

h6 {
  font-weight: 600;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}

/*
 * Page Styles
 */

main {
  margin: 1rem 0;
}

.page {
  max-width: 1024px;
  padding: 1rem;
  margin: 1rem auto;
  border: solid 1px silver;
  background: white;
}

.page-heading {
  margin: 2rem 0;
  padding: 0.5rem;
  color: #2bafba;
  background: lemonchiffon;
  border-bottom: solid 2px #e8be1e;
}

/*
 * Table Styles
 */

table {
  width: 100%;
}

th {
  font-weight: 600;
  border-bottom: solid 1px silver;
}

td, th {
  padding: 0.25em 0.5em;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: whitesmoke
}

tbody tr.selected {
  background: lemonchiffon
}

/*
 * Helper classes (more could be added if needed)
 */

.mr {
  margin-right: 1rem;
}
